.nav {
    display: flex;
    width: 85%;
    height: 90px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.logo__container {
    width: 12%;
}

.logo {
    width: 100%;
}

.nav__list {
    width: 32%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__element {
    color: black;
    font-weight: 600;
}