header {
    grid-area: header;
    width: 100%;
}

.nav {
    display: flex;
    width: 85%;
    height: 100px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.logo__container {
    width: 10%;
}

.logo {
    width: 100%;
}

.nav__list {
    width: 32%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__element {
    color: black;
    font-weight: var(--mid-weight);
}